html {
	background: url(images/skyline.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Bangers', cursive;
	overflow: hidden;
}
/* ====================================== */
/* MOBILE VIEW */
/* ====================================== */
header {
	max-width: 100%;
}

img {
	display: none;
}
.blurb {
	position: absolute;
	background-color: rgba(255, 235, 205, 0.329);
	top: 20vh;
	left: 0;
	color: black;
	letter-spacing: 2px;
	font-size: larger;
	padding: 15px;
	text-align: center;
}

ul {
	display: none;
}
.buttons {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	align-items: center;
	top: 53%;
}

#works {
	position: relative;
	width: 60%;
	border: none;
	border-radius: 10px;
	padding: 5px;
	font-family: inherit;
	outline: none;
	cursor: pointer;
}
#deets {
	position: relative;
	width: 60%;
	margin-top: 15px;
	border: none;
	border-radius: 10px;
	padding: 5px;
	font-family: inherit;
	outline: none;
	cursor: pointer;
}
/* ============================== */
/* TABLET */
/* ============================== */
@media (min-width: 516px) {
	header {
		width: 100%;
		left: 0;
		top: -1000px;
		-webkit-transition: top 1.5s ease;
		transition: top 1.5s ease;
	}
	.blurb {
		width: 100%;
	}
}

/* =================================== */
/* LAPTOP */
/* =================================== */
@media (min-width: 780px) {
	#container {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
	}
	header {
		position: absolute;
	}
	img {
		display: block;
		max-width: 60%;
	}
	.blurb {
		display: none;
	}
	.buttons {
		display: inline;
		padding-left: 9%;
		top: 65%;
	}
	#works, #deets {
		font-size: 2vw;
		width: 15%;
		margin-left: 4%;
	}
	#works:hover i {
		color: rgb(57, 57, 252);
		transition: 0.9s;
		transform: rotateY(-0deg);
	}
	#deets:hover i {
		color: rgb(160, 228, 59);
		transition: 0.9s;
		transform: scale(1.5);
	}
	
	.rocket-works {
		color: rgb(57, 57, 252);
		animation-name: rocket;
		animation-duration: 1s;
	}
	.rocket-deets {
		color: rgb(160, 228, 59);
		animation: pop 1s;
	}
}


@keyframes pop {
	from {
		transform: scale(1.5);
		opacity: 1;
	}
	to {
		transform: scale(30);
		opacity: 0;
	}
}

@keyframes rocket {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(1000px, 500px);
	}
}
